###############################################################################
# Node.js Dependencies
###############################################################################
node_modules/
auth/
**/auth/
**/node_modules/

###############################################################################
# Environment & Secrets
###############################################################################
###############################################################################
# Logs & Temp Files
###############################################################################
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
.lock-wscript
.wwebjs_cache/
.wwebjs_auth/
.wwebjs_*
logs/
**/logs/

###############################################################################
# OS-Specific Files
###############################################################################
.DS_Store
Thumbs.db

###############################################################################
# Build & Output Directories
###############################################################################
.next/
out/
build/
.nuxt/

###############################################################################
# Media & Misc Files
###############################################################################
*.mp4
*.mp4*
*.xlm
